{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Homepage</title>
</head>
{% include 'parts/navbar.html' %}
    
{% block content %}
<head>
    <div class="wrapper">
        <div class="content-wrapper">
            <div class="wr">
                <div class="wra">
                <h1>Car Showroom</h1>
                </div>
            </div>
        </div>
    </div><br><br>
</head>
<body class="homeclass">
    <div class="home-container">
        <div class="cards">
            <a class="title" href="{% url 'newcars' %}" >New Cars</a><br><br><br>
            {% for y in Ncars|slice:'3' %}
                <div class="cardhome">
                    <a href="{% url 'newcar' y.id %}" class="card-bodyhome">
                    <img class="carimghome" src="{{y.image.url}}" alt="New car image">
                        <div class="car-info">
                            <h3 class="car-titlehome">
                                {{y.ad_title}} 
                            </h3><br>
                            <div class="tags">
                                <span class="tag">
                                  <small>{{y.brand}}</small>
                                </span>
                                <span class="tag">
                                  <small>{{y.type}}</small>
                                </span>
                                <span class="tag">
                                    <small>{{y.transmission_type}}</small>
                                  </span>
                                <span class="tag">
                                  <small>{{y.color}}</small>
                                </span>
                                <span class="tag">
                                    <small>{{y.model_year}}</small>
                                  </span>
                            </div><br>
                            <p class="car-price">
                                {{y.price}} EGP
                            </p><br>
                            <p class="dateofad">Added on: 
                            {{y.createddate}}
                            </p>
                        </div> 
                    </a>
                </div><br><br>
                {% endfor %}
                <div class="cardhomebutton">
                    <a class="buttonhome" href="{% url 'newcars' %}" >See more</a>
                </div>
        </div><br><br>

        <div class="usedlist">
            <div class="cards">
                <a class="title" href="{% url 'usedcars' %}" >Used Cars</a><br><br><br>
                    {% for x in Ucars|slice:'3' %}
                    <div class="cardhome">
                        <a href="{% url 'usedcar' x.id %}" class="card-bodyhome">
                          <img class="carimghome" src="{{x.image.url}}" alt="Used car image">
                          <div class="car-info">
                              <h3 class="car-titlehome">
                                {{x.ad_title}} 
                              </h3><br>
                              <div class="tags">
                                <span class="tag">
                                  <small>{{x.brand}}</small>
                                </span>
                                <span class="tag">
                                  <small>{{x.type}}</small>
                                </span>
                                <span class="tag">
                                    <small>{{x.transmission_type}}</small>
                                  </span>
                                <span class="tag">
                                  <small>{{x.color}}</small>
                                </span>
                                <span class="tag">
                                    <small>{{x.travelled_KM}} KM</small>
                                  </span>
                              </div><br>
                              <p class="car-price">
                                {{x.price}} EGP
                              </p><br>
                              <p class="dateofad">Added on: 
                                {{x.createddate}}
                              </p>
                          </div> 
                        </a>
                    </div><br><br>
                    {% endfor %}
                    <div class="cardhomebutton">
                        <a class="buttonhome" href="{% url 'usedcars' %}" >See more</a>
                    </div>
                </div>
            </div><br><br>
    </div><br><br><br><br>
</body>
{% endblock content %}
    
{% include 'parts/footer.html' %}
</html>